:root {
    --color-fuente: white;
    --fondo: black;
    --fondo-contenedor: gray;
    --verde: green;
    --verde-hover: rgb(0, 76, 0);
}   

button {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

body {
    display: flex;
    background-color: var(--fondo);
    font-family: "Arial", sans-serif ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: var(--fondo-contenedor);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido input {
    border-radius: 4px;
    color: var(--color-fuente);
    background-color: var(--fondo) ;
    width: 200px;
    height: 50px;
    font-size: 15px;
}

.btn-login {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: var(--color-fuente);
    background-color: var(--verde);
}

.btn-login:hover {
    transform: translateY(-2px);
    background-color: var(--verde-hover);
}

.wrapper {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 20px;                
}

.logo {
    width: 200px;
}