body {
    display: flex;
    background-color: black;
    font-family: "Arial", sans-serif ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: gray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 350px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido input {
    border-radius: 4px;
    color: white;
    background-color: black ;
    width: 200px;
    height: 60px;
}

.btn-login {
    margin-bottom: 10px;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    color: white;
    background-color: green
    ;
}
.wrapper {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 20px;                
}

.logo {
    width: 200px;
}