body {
    font-family: 'Arial' sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 10px 20px; 
}

.botones {
    display: flex;
    justify-content: end;
    margin-left: auto;
    gap: 30px;
}

.marca {
    margin: 0; 
    font-size: 2rem; 
    letter-spacing: .5px;
    color: white;
}

nav button {
    background-color: gray;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}

input {
    background-color: rgb(35, 35, 35);
    border-color: rgb(35, 35, 35);
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 100px 20px 20px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.card {
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.cards .card img {
    width: 90%;
    height: 80%;
}

.agregar {
    background-color: rgb(1, 185, 1);
    border-radius: 5px;
}