body {
    font-family: 'Arial' sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background-color: gray;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}

.botones {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

input {
    background-color: rgb(35, 35, 35);
    border-color: rgb(35, 35, 35);
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 100px 20px 20px;
}

.card {
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    padding: 15px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}